/* This file contains the style relative at the type block component */


// This is the base of block styling
%block{
  width: 80%;
  color: white;
  display: block;
  text-align: justify;
  margin : 20px auto;
  padding: 10px;
  @include border-radius(1px);
  @include box-shadow(2px 2px 5px 1px #656565);
  border-left: darken($bck-color, 25%) solid 0.5em;
}

.success{
  @extend %block;
  background-color: $green;
}

.warning{
  @extend %block;
  background-color: $orange;
}

.danger{
  @extend %block;
  background-color: $red;
}

quote{
  @extend %block;
  font-family:Georgia,"Times New Roman",Times,serif;
  background-color: darken($bck-color, 5%);
  p{
    width: 95%;
    margin: auto;
  }
  &:before{
    display: block;
    content: "\"";
    font-size: 2em;
  }
}

blockquote{
  @extend quote;
  quotes: inherit;
  p{
    text-indent: 1.5em;
  }
  &:after{
    display: block;
    content: "\"";
    text-align: right;
    font-size: 2em;
    margin: 0;
    padding: 0;
  }
}

pre{
  @extend %block;
  font-family: "Courier New";
  background-color: lighten($black, 22%);
  border-left-color: $black;
}