/* This file contain the styling of buttons */

%button {
  display: inline-block;
  padding: 3px 3px 3px 3px;
  @include box-sizing(border-box);
  font-size: 1em;
  text-align: center;
  border: none;
  @include border-radius(1px);
  @include box-shadow(2px 2px 5px 1px #656565);
  background-color: #26C6DA;
  border: inset transparent 1px;
  cursor: pointer;
  color: white;
  &:active{
    color: #26C6DA;
    border: inset #26C6DA 1px;
    background-color: white;
  }
  &:hover{
    @include transition-property(all);
    @include transition-duration(0.2s);
    background-color: lighten(#26C6DA, 15%);
  }
}

.btn{
  @extend %button;
}

.btn-sm{
  font-size: 0.8em;
}

.btn-lg{
  display: block;
  width: 95%;
  margin: auto;
  font-size: 1.6em;
  font-weight: 500;
  padding: 0.2em 0.5em;
  @include border-radius(4px);
}

.btn-blue{
  background-color: $blue;
  &:hover{
    background-color: lighten($blue, 15%);
  }
}

.btn-orange{
  background-color: $orange;
  &:hover{
    background-color: lighten($orange, 15%);
  }
}

.btn-green{
  background-color: $green;
  &:hover{
    background-color: lighten($green, 15%);
  }
}

.btn-red{
  background-color: $red;
  &:hover{
    background-color: lighten($red, 15%);
  }
}

.btn-fancy{
  @include background-image(linear-gradient(120deg, #2ac363, #cd8c14, #9c4cc2));
}