/* This file contains the styles of the extra or complex components */

div.jumbotron{
  width: 65%;
  margin: 2em auto;
  padding-bottom: 2em;
  background-color: #EEEEEE;
  @include border-radius(5px);
  @include box-shadow(2px 2px 5px 1px #656565);
  > h1{
    padding-top: 1.1em;
    padding-bottom: 0.8em;
    text-align: center;
    font-size: $font-size + 1em;
    font-weight: bold;
  }
  > p{
    padding-bottom: 1.5em;
    text-align: center;
  }
  button{
    display: block;
    width: 15%;
    margin: auto;
  }
}

ul.navbar{
  width: 100%;
  text-align: center;
  background-color: $purple;
  color: white;
  li{
    background-color: lighten($purple, 15%);
    width: 10em;
    display: inline-block;
    line-height: 2em;
    text-align: center;
    &:hover{
      background-color: lighten($purple, 30%);
      ul{
        li{
          display: block;
        }
      }
    }
    a{
      text-decoration: none;
    }
    ul{
      position: absolute;
      li{
        display: none;
      }
    }
    .disabled{
      background-color: darken($purple, 15%);
      color: grey;
      &:hover{
        background-color: darken($purple, 15%);
      }
    }
    .active{
      background-color: darken($red, 15%);
    }
  }
}