/* This file contains the main styles for common HTML tags */

@for $i from 1 through 6{
  $Tsize : $Tsize - 0.2;
  h#{$i}{
    font-size: $Tsize * 1em;
  }
}

small{
  color: grey;
  font-size: smaller;
  font-style: italic;
}

mark{
  display: inline-block;
  background-color: lawngreen;
  color: black;
}

del{
  text-decoration: line-through;
  color: red;
}

ins{
  text-decoration: underline;
  color: green;
  font-style: italic;
}

u{
  text-decoration: underline;
}

strong{
  font-weight: bold;
}

em{
  font-style: italic;
}

abbr{
  cursor: help;
  border-bottom: .1em dotted;
}


h1 > .small{
  color: grey;
  font-size: 50%;
  font-style: italic;
}

kbd{
  display: inline-block;
  padding: 2.3px 2.2px 2.3px 2px;
  @include border-radius(3px);
  border: 1.5px solid darkgrey;
  background-color: #F4F7F8;
  color: black;
}

ul{
  list-style-type: initial;
  li{
    list-style-position: inside;
    font-size: 100%;
    color: black;
    display : list-item;
    a{
      display: inline-block;
      width: 100%;
    }
  }
  &.style-none{
    list-style-type: none;
  }
  &.square{
    list-style-type: square;
  }
  &.roman{
    list-style-type: upper-roman;
  }
}

code{
  display: inline-block;
  font-family: "Courier New";
  padding: 4px 6px 4px 6px;
  color: white;
  background-color: #656565;
  border-left-color: black;
  @include border-radius(4px);
  @include box-shadow(inset 1px 1px 10px 1px #656565);
  font-size: 1em;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.center{
  vertical-align: middle;
}

.top{
  vertical-align: top;
}

.bottom{
  vertical-align: bottom;
}

.justify{
  text-align: justify;
}

.upper{
  text-transform : capitalize;
}

.lower{
  text-transform: lowercase;
}