/* This file contains the mixins used to design the grid. */

// need to specify the size in % of a column, the number of columns, and the size in columns of the block to display
@mixin grid-col($sizecol, $nbcol, $largbox, $gout: 1){
  display: inline-block;
  @if $gout == 1 {
    $larggout: (100 - ($nbcol * $sizecol)) / $nbcol;
    width: (($largbox * $sizecol) + (($largbox - 1) * $larggout)) * 1%;
    margin-left: $larggout * 1 * 1%;
  } @else{
    width: ($largbox * $sizecol) * 1%;
  }
}

// need to specify the size in % of a column, the number of columns, and the number of columns to be blank
@mixin grid-offset($sizecol, $nbcol, $offset, $gout: 1){
  @if $gout == 1 {
    $larggout: (100 - ($nbcol * $sizecol)) / $nbcol;
    margin-left: ($offset * $sizecol + ($offset + 1) * $larggout) * 1%;
  } @else {
    margin-left: ($offset * $sizecol) * 1%;
  }
}