/* This is the file which contains the main vars */

$pres-fsize : 1.5em;
$font-size: 1em;
$font-color: #F47833;
$font-stack:    Roboto, Arial, Helvetica, sans-serif;
$bck-color:  #00bcd4;
$Tsize : 2.2;

/* -------- Colors --------- */
$orange:  #ff9800;
$blue: #00a5bb;
$green: #4caf50;
$black : #000000;
$red : #F44336;
$purple : #651FFF;