/* This file is the MAIN file which imports all the others parts of my framework.
 * It also initialise the grid.
 */

@import "compass/reset";
@import "compass/css3";

@import "vars";
@import "display";
@import "block";
@import "typo";
@import "button";
@import "composants";
@import "grid";

body{
  font-family: $font-stack;
  font-size: $font-size;
  line-height: normal;
}

/* ---------- GRILLE !!! ---------- */

/*
 * Grille mobile
 */
@media screen and (min-width: 0px) {
  $sizecol: 20;
  $nbcol: 5;
  @for $i from 1 through $nbcol {
    .col-s-#{$i} {
      @include grid-col($sizecol, $nbcol, $i, 0);
    }
  }

  /* loop which generate the 'offset' classes */
  @for $i from 1 through $nbcol - 1 {
    .offset-s-#{$i} {
      @include grid-offset($sizecol, $nbcol, $i, 0);
    }
  }
}

/*
 * Grille tablets
 */
@media screen and (min-width: 640px) {
  $sizecol: 8;
  $nbcol: 8;
  @for $i from 1 through $nbcol {
    .col-m-#{$i} {
      @include grid-col($sizecol, $nbcol, $i);
    }
  }

  /* loop which generate the 'offset' classes */
  @for $i from 1 through $nbcol - 1 {
    .offset-m-#{$i} {
      @include grid-offset($sizecol, $nbcol, $i);
    }
  }
}

/*
 * Grille desktop
 */
@media screen and (min-width: 890px) {
  $sizecol: 6; // taille en % d'une colonne
  $nbcol: 12; // nombres de colonnes dans la grille

  /* Loop which generates the 'col' classes
   * There are as many classes as columns
   */
  @for $i from 1 through $nbcol {
    .col-l-#{$i} {
      @include grid-col($sizecol, $nbcol, $i);
    }
  }

  /* loop which generate the 'offset' classes */
  @for $i from 1 through $nbcol - 1 {
    .offset-l-#{$i} {
      @include grid-offset($sizecol, $nbcol, $i);
    }
  }
}

.row{
  font-size: 0;
}

.row > * {
  font-size : 1rem;
}

/* ------- FIN GRILLE ------- */