/* This file is the MAIN file which imports all the others parts of my framework.
 * It also initialise the grid.
 */
/* line 5, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* This is the file which contains the main vars */
/* -------- Colors --------- */
/* This file contains the main styles for common HTML tags */
/* line 5, ../sass/_display.scss */
h1 {
  font-size: 2em;
}

/* line 5, ../sass/_display.scss */
h2 {
  font-size: 1.8em;
}

/* line 5, ../sass/_display.scss */
h3 {
  font-size: 1.6em;
}

/* line 5, ../sass/_display.scss */
h4 {
  font-size: 1.4em;
}

/* line 5, ../sass/_display.scss */
h5 {
  font-size: 1.2em;
}

/* line 5, ../sass/_display.scss */
h6 {
  font-size: 1.0em;
}

/* line 10, ../sass/_display.scss */
small {
  color: grey;
  font-size: smaller;
  font-style: italic;
}

/* line 16, ../sass/_display.scss */
mark {
  display: inline-block;
  background-color: lawngreen;
  color: black;
}

/* line 22, ../sass/_display.scss */
del {
  text-decoration: line-through;
  color: red;
}

/* line 27, ../sass/_display.scss */
ins {
  text-decoration: underline;
  color: green;
  font-style: italic;
}

/* line 33, ../sass/_display.scss */
u {
  text-decoration: underline;
}

/* line 37, ../sass/_display.scss */
strong {
  font-weight: bold;
}

/* line 41, ../sass/_display.scss */
em {
  font-style: italic;
}

/* line 45, ../sass/_display.scss */
abbr {
  cursor: help;
  border-bottom: .1em dotted;
}

/* line 51, ../sass/_display.scss */
h1 > .small {
  color: grey;
  font-size: 50%;
  font-style: italic;
}

/* line 57, ../sass/_display.scss */
kbd {
  display: inline-block;
  padding: 2.3px 2.2px 2.3px 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1.5px solid darkgrey;
  background-color: #F4F7F8;
  color: black;
}

/* line 66, ../sass/_display.scss */
ul {
  list-style-type: initial;
}
/* line 68, ../sass/_display.scss */
ul li {
  list-style-position: inside;
  font-size: 100%;
  color: black;
  display: list-item;
}
/* line 73, ../sass/_display.scss */
ul li a {
  display: inline-block;
  width: 100%;
}
/* line 78, ../sass/_display.scss */
ul.style-none {
  list-style-type: none;
}
/* line 81, ../sass/_display.scss */
ul.square {
  list-style-type: square;
}
/* line 84, ../sass/_display.scss */
ul.roman {
  list-style-type: upper-roman;
}

/* line 89, ../sass/_display.scss */
code {
  display: inline-block;
  font-family: "Courier New";
  padding: 4px 6px 4px 6px;
  color: white;
  background-color: #656565;
  border-left-color: black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 1px 1px 10px 1px #656565;
  -webkit-box-shadow: inset 1px 1px 10px 1px #656565;
  box-shadow: inset 1px 1px 10px 1px #656565;
  font-size: 1em;
}

/* line 101, ../sass/_display.scss */
.left {
  text-align: left;
}

/* line 105, ../sass/_display.scss */
.right {
  text-align: right;
}

/* line 109, ../sass/_display.scss */
.center {
  vertical-align: middle;
}

/* line 113, ../sass/_display.scss */
.top {
  vertical-align: top;
}

/* line 117, ../sass/_display.scss */
.bottom {
  vertical-align: bottom;
}

/* line 121, ../sass/_display.scss */
.justify {
  text-align: justify;
}

/* line 125, ../sass/_display.scss */
.upper {
  text-transform: capitalize;
}

/* line 129, ../sass/_display.scss */
.lower {
  text-transform: lowercase;
}

/* This file contains the style relative at the type block component */
/* line 5, ../sass/_block.scss */
.success, .warning, .danger, quote, blockquote, pre {
  width: 80%;
  color: white;
  display: block;
  text-align: justify;
  margin: 20px auto;
  padding: 10px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 2px 2px 5px 1px #656565;
  -webkit-box-shadow: 2px 2px 5px 1px #656565;
  box-shadow: 2px 2px 5px 1px #656565;
  border-left: #004b55 solid 0.5em;
}

/* line 17, ../sass/_block.scss */
.success {
  background-color: #4caf50;
}

/* line 22, ../sass/_block.scss */
.warning {
  background-color: #ff9800;
}

/* line 27, ../sass/_block.scss */
.danger {
  background-color: #F44336;
}

/* line 32, ../sass/_block.scss */
quote, blockquote {
  font-family: Georgia,"Times New Roman",Times,serif;
  background-color: #00a5bb;
}
/* line 36, ../sass/_block.scss */
quote p, blockquote p {
  width: 95%;
  margin: auto;
}
/* line 40, ../sass/_block.scss */
quote:before, blockquote:before {
  display: block;
  content: "\"";
  font-size: 2em;
}

/* line 47, ../sass/_block.scss */
blockquote {
  quotes: inherit;
}
/* line 50, ../sass/_block.scss */
blockquote p {
  text-indent: 1.5em;
}
/* line 53, ../sass/_block.scss */
blockquote:after {
  display: block;
  content: "\"";
  text-align: right;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

/* line 63, ../sass/_block.scss */
pre {
  font-family: "Courier New";
  background-color: #383838;
  border-left-color: #000000;
}

/* This file specify the policies to use */
@font-face {
  font-family: "Courier New";
  src: url(fonts/cour.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
}
/* This file contain the styling of buttons */
/* line 3, ../sass/_button.scss */
.btn {
  display: inline-block;
  padding: 3px 3px 3px 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  text-align: center;
  border: none;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 2px 2px 5px 1px #656565;
  -webkit-box-shadow: 2px 2px 5px 1px #656565;
  box-shadow: 2px 2px 5px 1px #656565;
  background-color: #26C6DA;
  border: inset transparent 1px;
  cursor: pointer;
  color: white;
}
/* line 16, ../sass/_button.scss */
.btn:active {
  color: #26C6DA;
  border: inset #26C6DA 1px;
  background-color: white;
}
/* line 21, ../sass/_button.scss */
.btn:hover {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  background-color: #67d7e5;
}

/* line 32, ../sass/_button.scss */
.btn-sm {
  font-size: 0.8em;
}

/* line 36, ../sass/_button.scss */
.btn-lg {
  display: block;
  width: 95%;
  margin: auto;
  font-size: 1.6em;
  font-weight: 500;
  padding: 0.2em 0.5em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 46, ../sass/_button.scss */
.btn-blue {
  background-color: #00a5bb;
}
/* line 48, ../sass/_button.scss */
.btn-blue:hover {
  background-color: #09e2ff;
}

/* line 53, ../sass/_button.scss */
.btn-orange {
  background-color: #ff9800;
}
/* line 55, ../sass/_button.scss */
.btn-orange:hover {
  background-color: #ffb74d;
}

/* line 60, ../sass/_button.scss */
.btn-green {
  background-color: #4caf50;
}
/* line 62, ../sass/_button.scss */
.btn-green:hover {
  background-color: #80c883;
}

/* line 67, ../sass/_button.scss */
.btn-red {
  background-color: #F44336;
}
/* line 69, ../sass/_button.scss */
.btn-red:hover {
  background-color: #f8877f;
}

/* line 74, ../sass/_button.scss */
.btn-fancy {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA5MTUwNiIgeTE9IjAuMTU4NDk0IiB4Mj0iMS4wOTE1MDYiIHkyPSIwLjg0MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhYzM2MyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjY2Q4YzE0Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOWM0Y2MyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(330deg, #2ac363, #cd8c14, #9c4cc2);
  background-image: -webkit-linear-gradient(330deg, #2ac363, #cd8c14, #9c4cc2);
  background-image: linear-gradient(120deg, #2ac363, #cd8c14, #9c4cc2);
}

/* This file contains the styles of the extra or complex components */
/* line 3, ../sass/_composants.scss */
div.jumbotron {
  width: 65%;
  margin: 2em auto;
  padding-bottom: 2em;
  background-color: #EEEEEE;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 5px 1px #656565;
  -webkit-box-shadow: 2px 2px 5px 1px #656565;
  box-shadow: 2px 2px 5px 1px #656565;
}
/* line 10, ../sass/_composants.scss */
div.jumbotron > h1 {
  padding-top: 1.1em;
  padding-bottom: 0.8em;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
/* line 17, ../sass/_composants.scss */
div.jumbotron > p {
  padding-bottom: 1.5em;
  text-align: center;
}
/* line 21, ../sass/_composants.scss */
div.jumbotron button {
  display: block;
  width: 15%;
  margin: auto;
}

/* line 28, ../sass/_composants.scss */
ul.navbar {
  width: 100%;
  text-align: center;
  background-color: #651FFF;
  color: white;
}
/* line 33, ../sass/_composants.scss */
ul.navbar li {
  background-color: #9a6cff;
  width: 10em;
  display: inline-block;
  line-height: 2em;
  text-align: center;
}
/* line 39, ../sass/_composants.scss */
ul.navbar li:hover {
  background-color: #ceb8ff;
}
/* line 42, ../sass/_composants.scss */
ul.navbar li:hover ul li {
  display: block;
}
/* line 47, ../sass/_composants.scss */
ul.navbar li a {
  text-decoration: none;
}
/* line 50, ../sass/_composants.scss */
ul.navbar li ul {
  position: absolute;
}
/* line 52, ../sass/_composants.scss */
ul.navbar li ul li {
  display: none;
}
/* line 56, ../sass/_composants.scss */
ul.navbar li .disabled {
  background-color: #4100d2;
  color: grey;
}
/* line 59, ../sass/_composants.scss */
ul.navbar li .disabled:hover {
  background-color: #4100d2;
}
/* line 63, ../sass/_composants.scss */
ul.navbar li .active {
  background-color: #d2190b;
}

/* This file contains the mixins used to design the grid. */
/* line 16, ../sass/framework.scss */
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: normal;
}

/* ---------- GRILLE !!! ---------- */
/*
 * Grille mobile
 */
@media screen and (min-width: 0px) {
  /* line 31, ../sass/framework.scss */
  .col-s-1 {
    display: inline-block;
    width: 20%;
  }

  /* line 31, ../sass/framework.scss */
  .col-s-2 {
    display: inline-block;
    width: 40%;
  }

  /* line 31, ../sass/framework.scss */
  .col-s-3 {
    display: inline-block;
    width: 60%;
  }

  /* line 31, ../sass/framework.scss */
  .col-s-4 {
    display: inline-block;
    width: 80%;
  }

  /* line 31, ../sass/framework.scss */
  .col-s-5 {
    display: inline-block;
    width: 100%;
  }

  /* loop which generate the 'offset' classes */
  /* line 38, ../sass/framework.scss */
  .offset-s-1 {
    margin-left: 20%;
  }

  /* line 38, ../sass/framework.scss */
  .offset-s-2 {
    margin-left: 40%;
  }

  /* line 38, ../sass/framework.scss */
  .offset-s-3 {
    margin-left: 60%;
  }

  /* line 38, ../sass/framework.scss */
  .offset-s-4 {
    margin-left: 80%;
  }
}
/*
 * Grille tablets
 */
@media screen and (min-width: 640px) {
  /* line 51, ../sass/framework.scss */
  .col-m-1 {
    display: inline-block;
    width: 8%;
    margin-left: 4.5%;
  }

  /* line 51, ../sass/framework.scss */
  .col-m-2 {
    display: inline-block;
    width: 20.5%;
    margin-left: 4.5%;
  }

  /* line 51, ../sass/framework.scss */
  .col-m-3 {
    display: inline-block;
    width: 33%;
    margin-left: 4.5%;
  }

  /* line 51, ../sass/framework.scss */
  .col-m-4 {
    display: inline-block;
    width: 45.5%;
    margin-left: 4.5%;
  }

  /* line 51, ../sass/framework.scss */
  .col-m-5 {
    display: inline-block;
    width: 58%;
    margin-left: 4.5%;
  }

  /* line 51, ../sass/framework.scss */
  .col-m-6 {
    display: inline-block;
    width: 70.5%;
    margin-left: 4.5%;
  }

  /* line 51, ../sass/framework.scss */
  .col-m-7 {
    display: inline-block;
    width: 83%;
    margin-left: 4.5%;
  }

  /* line 51, ../sass/framework.scss */
  .col-m-8 {
    display: inline-block;
    width: 95.5%;
    margin-left: 4.5%;
  }

  /* loop which generate the 'offset' classes */
  /* line 58, ../sass/framework.scss */
  .offset-m-1 {
    margin-left: 17%;
  }

  /* line 58, ../sass/framework.scss */
  .offset-m-2 {
    margin-left: 29.5%;
  }

  /* line 58, ../sass/framework.scss */
  .offset-m-3 {
    margin-left: 42%;
  }

  /* line 58, ../sass/framework.scss */
  .offset-m-4 {
    margin-left: 54.5%;
  }

  /* line 58, ../sass/framework.scss */
  .offset-m-5 {
    margin-left: 67%;
  }

  /* line 58, ../sass/framework.scss */
  .offset-m-6 {
    margin-left: 79.5%;
  }

  /* line 58, ../sass/framework.scss */
  .offset-m-7 {
    margin-left: 92%;
  }
}
/*
 * Grille desktop
 */
@media screen and (min-width: 890px) {
  /* Loop which generates the 'col' classes
   * There are as many classes as columns
   */
  /* line 75, ../sass/framework.scss */
  .col-l-1 {
    display: inline-block;
    width: 6%;
    margin-left: 2.33333%;
  }

  /* line 75, ../sass/framework.scss */
  .col-l-2 {
    display: inline-block;
    width: 14.33333%;
    margin-left: 2.33333%;
  }

  /* line 75, ../sass/framework.scss */
  .col-l-3 {
    display: inline-block;
    width: 22.66667%;
    margin-left: 2.33333%;
  }

  /* line 75, ../sass/framework.scss */
  .col-l-4 {
    display: inline-block;
    width: 31%;
    margin-left: 2.33333%;
  }

  /* line 75, ../sass/framework.scss */
  .col-l-5 {
    display: inline-block;
    width: 39.33333%;
    margin-left: 2.33333%;
  }

  /* line 75, ../sass/framework.scss */
  .col-l-6 {
    display: inline-block;
    width: 47.66667%;
    margin-left: 2.33333%;
  }

  /* line 75, ../sass/framework.scss */
  .col-l-7 {
    display: inline-block;
    width: 56%;
    margin-left: 2.33333%;
  }

  /* line 75, ../sass/framework.scss */
  .col-l-8 {
    display: inline-block;
    width: 64.33333%;
    margin-left: 2.33333%;
  }

  /* line 75, ../sass/framework.scss */
  .col-l-9 {
    display: inline-block;
    width: 72.66667%;
    margin-left: 2.33333%;
  }

  /* line 75, ../sass/framework.scss */
  .col-l-10 {
    display: inline-block;
    width: 81%;
    margin-left: 2.33333%;
  }

  /* line 75, ../sass/framework.scss */
  .col-l-11 {
    display: inline-block;
    width: 89.33333%;
    margin-left: 2.33333%;
  }

  /* line 75, ../sass/framework.scss */
  .col-l-12 {
    display: inline-block;
    width: 97.66667%;
    margin-left: 2.33333%;
  }

  /* loop which generate the 'offset' classes */
  /* line 82, ../sass/framework.scss */
  .offset-l-1 {
    margin-left: 10.66667%;
  }

  /* line 82, ../sass/framework.scss */
  .offset-l-2 {
    margin-left: 19%;
  }

  /* line 82, ../sass/framework.scss */
  .offset-l-3 {
    margin-left: 27.33333%;
  }

  /* line 82, ../sass/framework.scss */
  .offset-l-4 {
    margin-left: 35.66667%;
  }

  /* line 82, ../sass/framework.scss */
  .offset-l-5 {
    margin-left: 44%;
  }

  /* line 82, ../sass/framework.scss */
  .offset-l-6 {
    margin-left: 52.33333%;
  }

  /* line 82, ../sass/framework.scss */
  .offset-l-7 {
    margin-left: 60.66667%;
  }

  /* line 82, ../sass/framework.scss */
  .offset-l-8 {
    margin-left: 69%;
  }

  /* line 82, ../sass/framework.scss */
  .offset-l-9 {
    margin-left: 77.33333%;
  }

  /* line 82, ../sass/framework.scss */
  .offset-l-10 {
    margin-left: 85.66667%;
  }

  /* line 82, ../sass/framework.scss */
  .offset-l-11 {
    margin-left: 94%;
  }
}
/* line 88, ../sass/framework.scss */
.row {
  font-size: 0;
}

/* line 92, ../sass/framework.scss */
.row > * {
  font-size: 1rem;
}

/* ------- FIN GRILLE ------- */
