h1.pres{
    color: #F47833;
    background-color: darkcyan;
    text-align: center;
}

h3.pres{
    border-top: 1px solid #ff9800;
    border-bottom: 1px solid #ff9800;
    background-color: #FB8C00;
    text-align: center;
    color: white;
}

div.pres{
    background-color: aliceblue;
    border: 1px solid blue;
    margin: 10px;
    padding: 5px;
}

div.row > .grille{
    border: 1px solid silver;
    background-color: blue;
}